body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
.container {
    display: flex; 
    flex-flow: column; 
    height: 100%; 
    background-color: #dddddd;
}
.container .titlebar{
    overflow: hidden;
    height: max-content; 
    border: 1px solid #ccc;
    font-family: Helvetica;
}
.container .titlebar .title{
    height: max-content; 
    font-size: 50px; 
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
}
.container .titlebar .buttons{
    overflow: hidden;
    height: 100%; 
    background-color: inherit;
}
.container .titlebar .buttons button{
    background-color: #ddd;
    height: 100%; 
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.container .titlebar .buttons button:hover {
    background-color: #ccc;
}
.container .map{
    flex-grow : 1;
}
.tab {
    width: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    width: 20%;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.chart {
    border: 1px solid #ccc;
}
.avgtable {
    display: table; 
    clear: both; 
    width: 70%;
}
.avgtable attributes {
    float: left;
}
.avgtable values {
    float: right;
}
.export {
    width: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.export button {
    width: 50%;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.export button:hover {
    background-color: #ddd;
}